
<mat-card>
	<mat-card-title>Member</mat-card-title>
  <mat-card-content>
    <table>
        <thead>
          <th>Id</th>
          <th>Member Id</th>
          <th>Name</th>
          <th>Father Name</th>
        </thead>
      <tbody>
        <tr *ngFor="let member of members">
          <td>{{member.id}}</td>
          <td>{{member.memberId}}</td>
          <td>{{member.name}}</td>
          <td>{{member.fatherName}}</td>
          <td>
              <button (click)="viewPayment(member)" mat-raised-button color="accent">Payment History</button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>