
    <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="အသင်းဝင်အမှတ်">
            <mat-header-cell *matHeaderCellDef mat-sort-header> အသင်းဝင်အမှတ် </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="အသင်းဝင်အမှတ်"> {{row.memberId}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="ၸိုဝ်ႈ/အမည်">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ၸိုဝ်ႈ/အမည် </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="ၸိုဝ်ႈ/အမည်"> {{row.name}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="ၸိၢႆၾူၼ်း/တယ်လီဖုန်းနံပါတ်">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ၸၢႆၾူၼ်း/တယ်လီဖုန်းနံပါတ် </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="ၸၢႆၾူၼ်း/တယ်လီဖုန်းနံပါတ်"> {{row.phoneNo}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="ၸိၢႆၾူၼ်း/တယ်လီဖုန်းနံပါတ်">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ၸၢႆၾူၼ်း/တယ်လီဖုန်းနံပါတ် </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="ၸၢႆၾူၼ်း/တယ်လီဖုန်းနံပါတ်"> {{row.phoneNo}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Detail">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Detail </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Detail"> Detail </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      </div>