<mat-card>
	<mat-card-title>Payment</mat-card-title>
  <mat-card-content>
    <table>
        <thead>
          <tr>
            <th>Amount</th>
            <th>Payment Date</th>
            <th>End Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let payment of paymentHistory">
            <td>{{ payment.amount }}</td>
            <td>{{ payment.paymentDate.seconds * 1000 | date:'MM-dd-yyyy'  }}</td>
            <td>{{ payment.endDate.seconds * 1000 | date:'MM-dd-yyyy'  }}</td>
          </tr>
        </tbody>
    </table>
  </mat-card-content>
</mat-card>
<mat-card>
	<mat-card-title>Member Info</mat-card-title>
	<mat-card-content>
    
  </mat-card-content>
</mat-card>