.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://drive.google.com/open?id=1A-2HUEBzMoDWuP_awxHsyctCG1qE8KXB');
  background-size: cover;
}

a {
    text-decoration: none;
    color: rgb(2, 2, 2);
}
 
a:hover, a:active{
    color: rgb(91, 4, 253);
}