      :host {
        justify-content: center;
        margin: 100px 0px;
      }

      form {
       width: 100%;
       padding : 30px;
      }

      mat-form-field {
        padding: 5px;
        width: 100%;
      }

      mat-card-title,
      mat-card-content {
        display: flex;
        justify-content: center;
        border: solid gray 1px;
        border-radius: 5px; 
      }

      .error {
        padding: 16px;
        width: 300px;
        color: white;
        background-color: red;
      }

      .button {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px; 
      }

      .card-Header {
        background-color: #007bff!important;
        color: white;
      }